[Unit]
Description=gf2-demo-api production environment
Documentation=
After=network.target
Wants=

[Service]
Type=simple
User=vagrant
Environment=GF_GERROR_BRIEF=true GF_GCFG_FILE=config.prod.yaml
WorkingDirectory=/app/gf2-demo
ExecStart=/bin/sh -c '/app/gf2-demo/gf2-demo-api >> gf2-demo-api.log 2>&1'
KillMode=ctrl-group
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
